:root {
  --clr-gray: rgb(179, 179, 179);
  --clr-darkGray: rgb(82, 82, 82);
  --clr-primary-yellow: rgb(255, 187, 0);
  --clr-yellow-light: rgb(255, 200, 48);
  --clr-darkYellow: rgb(255, 123, 0);
  --clr-red: rgb(197, 7, 0);
}
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}
.combo-wrapper {
  border: 1px solid var(--clr-gray);
  padding: 20px 30px;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: 565px;
  max-width: 450px;
}
.combo-title {
  font-size: 35px;
  text-align: center;
  color: black;
  margin-block: 30px;
}
.tabs {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  transition: all 200ms ease;
  transition: hiding;
}

.tab-list {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: solid 1px var(--clr-gray);
  padding-bottom: 18px;
  margin: 0;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background: none;
  border: solid 1px var(--clr-darkGray);
  color: var(--clr-darkGray);
  background-color: white;
  border-radius: 100px;
  padding: 8px 20px;
  margin-inline: 6px;
  transition: all 200ms ease;
}

.tab:hover {
  border-color: black;
  background-color: #f3f3f3;
}

.tab.active {
  color: white;
  border-color: black;
  background-color: black;
}

.tab-content {
  padding: 20px 0;
  min-height: 200px;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0px 20px 10px 20px;
}
.tab-content .instruction {
  font-weight: 500;
  color: var(--clr-darkGray);
}
.item-button {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--clr-primary-yellow);
  background: white;
  color: var(--clr-primary-yellow);
  width: 100%;
  max-width: 48%;
  min-width: 45%;
  cursor: pointer;
  transition: all 250ms ease;
}
.item-button:focus {
  outline: none;
}
.selected {
  border: 1px solid var(--clr-primary-yellow);
  background: var(--clr-primary-yellow);
  color: white;
}
.item-button:hover {
  background: var(--clr-yellow-light);
  color: white;
  border-color: var(--clr-yellow-light);
}

.selected-combo-title {
  font-size: 25px;
  margin: 0;
}

.selected-combo {
  transition: all 200ms ease;
}

.selected-combo-items {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: left;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.reset-button {
  margin-top: 10px;
  padding: 8px 16px;
  background: white;
  color: var(--clr-red);
  margin-top: 20px;
  border: 1px solid var(--clr-red);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: all 200ms ease;
}

.reset-button:hover {
  background: var(--clr-red);
  color: white;
  border-color: var(--clr-red);
}

.visible {
  display: block;
  opacity: 1;
  pointer-events: all;
}

.invisible {
  opacity: 0;
  pointer-events: none;
  display: none;
}
